<h1 class="text-3xl mb-8">パスワード再設定</h1>
<%= form_with model: @user, url: password_reset_path(@token) do |f| %>
    <div>
	  <%= f.label :魔法の通信アドレス, class: "block text-lg mb-2" %>
      <%= f.text_field :email, value: @user.email, class: "w-full bg-transparent border-b-2 border-gray-400 focus:border-purple-500 outline-none p-2" %>
    </div>
    <div>
      <%= f.label :新しい秘密の呪文, class: "block text-lg mb-2" %>
      <%= f.password_field :password, class: "w-full bg-transparent border-b-2 border-gray-400 focus:border-purple-500 outline-none p-2" %>
    </div>
    <div>
      <%= f.label :新しい秘密の呪文（確認）, class: "block text-lg mb-2" %>
      <%= f.password_field :password_confirmation, class: "w-full bg-transparent border-b-2 border-gray-400 focus:border-purple-500 outline-none p-2" %>
    </div>

    <%= f.submit 'リセット', class: "bg-purple-700 text-white px-6 py-3 rounded-full hover:bg-purple-800 transition duration-300 mt-4"  %>
<% end %>