<header class="bg-header-bg text-black py-6 bg-cover text-black">
  <div class="container mx-auto px-4">
    <!-- Top border -->
    <div class="border-t-2 border-black"></div>
    
    <!-- Logo and main title -->
    <div class="text-center py-4">
      <%= image_tag 'logo.png', class: 'h-auto mx-auto mb-2' %>
    </div>
    
    <!-- Middle border -->
    <div class="border-t border-black"></div>
    
    <!-- Navigation -->
    <nav class="py-2">
      <ul class="flex justify-center space-x-6 text-sm font-serif">
        <li><%= link_to "Home", root_path, class: "text-2xl border-r border-black pr-4 hover:underline" %></li>
        <li><%= link_to "アルディアスと文通", new_diary_path(date: Date.today), class: "text-2xl border-r border-black pr-4 hover:underline" %></li>
        <li><%= link_to "日記一覧", "#", class: "text-2xl border-r border-black pr-4 hover:underline" %></li>
        <li><%= link_to "友達日記", "#", class: "text-2xl border-r border-black pr-4 hover:underline" %></li>
        <li><%= link_to "みんなの日記", "#", class: "text-2xl border-r border-black pr-4 hover:underline" %></li>
      </ul>
    </nav>
    
    <!-- Bottom border -->
    <div class="border-t-2 border-black"></div>
    
    <!-- Date and edition -->
    <div class="flex justify-between text-sm py-2 font-serif">
      <span><%= Date.today.strftime("%A, %B %d, %Y") %></span>
      <% if logged_in? %>
        <span><%= link_to "本を閉じる", session_path, class: "text-xl pr-4 hover:underline", data: {turbo_method: :delete} %></span>
      <% else %>
        <span>Morning Edittion</span>
      <% end %>
    </div>
    </div>
  </div>
</header>