<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %> mx-24 my-4 p-4 bg-blue-100 border border-blue-500 text-blue-700">
          <%= message %>
      </div>
    <% end %>
    <%= render 'shared/header' %>
    <main class="relative bg-main-bg bg-center bg-cover object-cover">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
