<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アルディアスの魔法書 - ランディングページ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <style>
        .vertical-text {
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    </style>
</head>
<body class="bg-main-bg bg-center bg-cover text-black flex items-center justify-center h-screen">
    <%= yield %>
</body>
</html>